<a href="https://colab.research.google.com/github/gichurejoy/Machine-Learning/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import nltk
nltk.download('punkt')              
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [4]:
import pandas as pd
df = pd.read_csv('LAB3.csv')
df.head(15)

                product                                          narrative
0   mortgages_and_loans  applied mortgage refinance understand process ...
1       debt_collection  received letter demanding payment medical debt...
2       debt_collection  car accident fault year old financial help use...
3       debt_collection  bad financial shape stemming bad employment si...
4       debt_collection  reliant capital solution repeatly call spouse ...
5       debt_collection  called company numerous time debt mine sent th...
6       debt_collection  mentioned debt collecting agency sent letter d...
7           credit_card  late fee accumulated nearly extra fee deferred...
8           credit_card  purchased ticket cancelled event requested ref...
9       debt_collection  national service bureau threatened jail time r...
10      debt_collection  transworld system called repeatedly explained ...
11      debt_collection  receiving phone call abc financial regarding o...
12       retail_banking  hello used transfer money closed account go ba...
13      debt_collection  mailed notice acceptance negotiable instrument...
14  mortgages_and_loans  made mortgage payment bank america using coupo...

In [5]:
df['product'].value_counts()

debt_collection        4322
mortgages_and_loans    3528
credit_card            2882
retail_banking         2563
Name: product, dtype: int64

In [6]:
df.isnull().any()

product      False
narrative     True
dtype: bool

In [7]:
print(df.isnull().sum())

product       0
narrative    21
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.isnull().sum()

product      0
narrative    0
dtype: int64

In [10]:
df['narrative'] = df['narrative'].str.replace('[^\w\s]','')           
df['narrative'] = df['narrative'].str.replace('\d+', '')              
df['narrative'] = df['narrative'].str.replace('@', '')                
df['narrative'] = df['narrative'].str.replace('#', '')                
df['narrative'] = df['narrative'].str.replace('\s+', ' ')             
df['narrative'] = df['narrative'].str.lower()                        
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

                   product                                          narrative
0      mortgages_and_loans  applied mortgage refinance understand process ...
1          debt_collection  received letter demanding payment medical debt...
2          debt_collection  car accident fault year old financial help use...
3          debt_collection  bad financial shape stemming bad employment si...
4          debt_collection  reliant capital solution repeatly call spouse ...
...                    ...                                                ...
13290          credit_card  reliacard deactivated card suspect fraud said ...
13291          credit_card  recieved total five fraudulent transaction app...
13292       retail_banking  bank america sent notice transferred account e...
13293      debt_collection  minor year old received care local ohio region...
13294       retail_banking  paypal account year got restricted preventing ...

[13274 rows x 2 columns]

In [11]:
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
print(stop)

{'hers', 'their', 'most', "aren't", 'just', 'be', 'me', 'for', 'where', 'each', 'mightn', 'its', 'while', 'ours', 'down', 'such', 'doesn', 't', 'if', 'in', 'shan', 'again', 'who', 'whom', "haven't", "doesn't", 'here', 'his', 'those', 'other', 'at', "it's", "don't", 'through', 'an', 'a', "wouldn't", 'her', 'out', 'yourself', 'on', 'shouldn', 'more', 'y', 'ourselves', 's', 'been', 'do', 'it', 'did', 'very', 'haven', 'itself', 'have', 'was', 'our', 'has', 'am', "didn't", 'couldn', "you've", 'wouldn', 'my', 'which', 'mustn', 'we', 'themselves', 'yourselves', 'than', 'll', 'aren', 'the', 'after', 'there', 'nor', 'own', "hasn't", 'what', 'them', 'are', "shouldn't", 'further', 'yours', 'by', "needn't", "that'll", 'isn', 'i', 'up', 'no', "should've", 'm', 'any', 'then', 'all', "you'd", 'too', 'can', 'you', 'will', 'so', 'd', 'to', 'few', 'same', 'does', 'him', 'how', 'o', 'ma', 'from', 'under', 'against', 'about', 're', 'herself', 'being', 'she', 'off', 'hadn', "wasn't", 'he', 'hasn', 'now', 'ain', "hadn't", 'himself', 'below', 'had', 'won', 'is', 'needn', 'into', 'doing', 'wasn', 'once', 'above', "couldn't", 'myself', 'these', 'having', 'but', 'with', 'both', 'theirs', 'before', 'only', "mightn't", 'between', 'this', 'as', 'because', "she's", 'why', "won't", 'weren', 'until', 've', 'some', "you'll", 'didn', "you're", 'or', 'during', 'when', "mustn't", 'and', "isn't", 'were', 'that', 'over', 'should', "weren't", 'your', 'not', 'they', 'of', 'don', "shan't"}

In [12]:
df['cnarrative'] = df['narrative'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df

,product,narrative,cnarrative
0,mortgages_and_loans,applied mortgage refinance understand process ...,applied mortgage refinance understand process ...
1,debt_collection,received letter demanding payment medical debt...,received letter demanding payment medical debt...
2,debt_collection,car accident fault year old financial help use...,car accident fault year old financial help use...
3,debt_collection,bad financial shape stemming bad employment si...,bad financial shape stemming bad employment si...
4,debt_collection,reliant capital solution repeatly call spouse ...,reliant capital solution repeatly call spouse ...
...,...,...,...
13290,credit_card,reliacard deactivated card suspect fraud said ...,reliacard deactivated card suspect fraud said ...
13291,credit_card,recieved total five fraudulent transaction app...,recieved total five fraudulent transaction app...
13292,retail_banking,bank america sent notice transferred account e...,bank america sent notice transferred account e...
13293,debt_collection,minor year old received care local ohio region...,minor year old received care local ohio region...
13294,retail_banking,paypal account year got restricted preventing ...,paypal account year got restricted preventing ...

In [13]:
df['cnarrative'] = df['cnarrative'].apply(lambda x: x.split())        # tokenization each word as a token
df

,product,narrative,cnarrative
0,mortgages_and_loans,applied mortgage refinance understand process ...,"[applied, mortgage, refinance, understand, pro..."
1,debt_collection,received letter demanding payment medical debt...,"[received, letter, demanding, payment, medical..."
2,debt_collection,car accident fault year old financial help use...,"[car, accident, fault, year, old, financial, h..."
3,debt_collection,bad financial shape stemming bad employment si...,"[bad, financial, shape, stemming, bad, employm..."
4,debt_collection,reliant capital solution repeatly call spouse ...,"[reliant, capital, solution, repeatly, call, s..."
...,...,...,...
13290,credit_card,reliacard deactivated card suspect fraud said ...,"[reliacard, deactivated, card, suspect, fraud,..."
13291,credit_card,recieved total five fraudulent transaction app...,"[recieved, total, five, fraudulent, transactio..."
13292,retail_banking,bank america sent notice transferred account e...,"[bank, america, sent, notice, transferred, acc..."
13293,debt_collection,minor year old received care local ohio region...,"[minor, year, old, received, care, local, ohio..."
13294,retail_banking,paypal account year got restricted preventing ...,"[paypal, account, year, got, restricted, preve..."

In [14]:
import itertools
vocab = list(itertools.chain.from_iterable(df['cnarrative']))
vocab = list(set(vocab))
print(len(vocab))

18750

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf.fit(df['narrative'])
tfidf = tfidf.transform(df['narrative'])

print(len(tfidf.toarray())) 
print(tfidf.shape)

13274
(13274, 18750)

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(tfidf, df['narrative'], test_size=0.2, random_state=0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(10619, 18750) (2655, 18750) (10619,) (2655,)

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
rf.fit(X_train, y_train)

rf_y_pred = rf.predict(X_test)
print("Random Forest accuracy: ", accuracy_score(y_test, rf_y_pred))

Random Forest accuracy:  0.014689265536723164